* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-family:'Lato';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
}
.row{
    width: 100%;
}

.container{
    width: 100%;
}

.container--1260{
    width: 1260px;
    margin: 0 auto;
}

.container--1024{
    width: 1024px;
    margin: 0 auto;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around{
    display: flex;
    justify-content: space-between;

}

.flex-start{
    display: flex;
    justify-content: flex-start;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.text-center{
    text-align: center;
}

/*-------------- Header - Navigation - Header ----------*/
.nav-flex{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 200px;
    gap: 72px;
}

.nav-control{
    width: 1440px;
    height: 54px;
    left: 0px;
    top: 0px;
    background: #12232E;
}

.nav-item{
    list-style: none;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.nav-item a,
.nav-item i{
    text-decoration: none;
    color: #FFFFFF;
}

.nav-item:hover a,
.nav-item:hover i{
    cursor: pointer;
    color: #A9A9A9;
}

/* --------------------- End Navigation ------------------*/

/* ------------- Main - Content - Main --------------- */
main{
    width: 100%;
    background: #0B0C10;
}

/* -------------------- End Main ------------------ */

/* ------------- Footer - Footer ------------ */
footer{
    width: 100%;
    min-height: 306px;
    background: #12232E;
}

.logo-footer{
    padding: 24px 0;
}
.content-footer a{
    display: block;
    text-decoration: none;
    color:#FFFFFF;
    line-height: 17px;
    padding: 11px 0;
}

.content-footer a:hover{
    color:#A9A9A9;
}
.col-l{
    width: fit-content;
}
.col-m{
    width: fit-content;
}
.col-r{
    /* word-spacing: pt; */
    text-align: left;
    width: 134.6px;
    color: #FFFFFF;
}

.item-footer{
    gap:20px;
}

.flex-3-col{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    gap: 363px;
}

.bot-footer{
    color:#FFFFFF;
    height: 45px;
}
/* --------------- END Footer -------------- */

