.notification {
    width: 80%;
    height: 80vh;
    background: #333;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: 20px;
}
.notification::before {
    content: "X";
    background-color: #fff;
    border-radius: 50%;
}
