@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
    font-family: "Poppins", sans-serif;
}
.admin-left {
    float: left;
    width: 20%;
    background-color: #fcb000;
}
.clear-fix {
    clear: both;
}
.container-content {
    width: 80%;
    float: right;
    height: 100vh;
    overflow: auto;
    padding: 20px;
}
