.admin-left {
    float: left;
    width: 20%;
    background-color: #fcb000;
}
.clear-fix {
    clear: both;
}
.container-content {
    width: 80%;
    float: right;
    height: 100vh;
    overflow: auto;
    padding: 20px;
}
