

/* 1348px */
@media (max-width: 84.25em){
    

    /* Responsive about us */

    .content-box-au img{
        margin-left: 3.5rem;
    }

    .container-2 .about-us{
        max-width: 75.563rem;
    }

    /* Responsive about us */

    /* Responsive Form contact */

    .container-form-contact .form-cfc{
        margin-left: 2rem;
    }

    /* Responsive Form contact */

    /* Responsive partner image */

    .partner-image .box-partner-img:not(:first-child) {
        margin-left: 2.5rem;
    }

    .partner-image {
        max-width: 73.25rem;
    }

    /* Responsive partner image */

    /* Responsive footer */

    .menu_footer .block-2_menu_footer{
        margin-left: 15.188rem;
    }

    .menu_footer .block-3_menu_footer{
        margin-left: 19.438rem; 
    }

    .container_footer .menu_footer{
        max-width: 62.188rem;
    }

    /* Responsive footer */

    /* Responsive dot */

    .switch-button{
        top: 70%;
    }

    /* Responsive dot */

}

/* 1275px */
@media (max-width: 79.6875em){
    

    /* Responsive about us */

    .content-box-au img{
        margin-left: 2.5rem;
    }

    .container-2 .about-us{
        max-width: 74.363rem;
    }

    /* Responsive about us */

    /* Responsive Form contact */

    .form-cfc .input-form-ct1{
        max-width: 25rem;
    }

    .form-cfc textarea{
        max-width: 25rem;
    }

    .form-cfc .submit-form-contact{
        max-width: 25rem;
    }

    /* Responsive Form contact */

    /* Responsive partner image */

    .partner-image .box-partner-img:not(:first-child) {
        margin-left: 1.5rem;
    }

    .partner-image {
        max-width: 68.25rem;
    }

    /* Responsive partner image */
}



/* 1235px */
@media (max-width: 77.1875em){

    /* Responsive header */
    .menu_header li{
        margin-left: 4rem;
    }

    .container_header .login-language_header{
        margin-left: 4rem;
    }

    .login-language_header .language{
        padding-left: 1rem;
    }

    header .container_header{
        max-width: 62.507rem;
    }

    /* Responsive header */

    /* Responsive dot */

    
    /* Responsive dot */

    /* Responsive about us */



    .content-box-au img{
        margin-left: 1.5rem;
    }

    .container-2 .about-us{
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 73.363rem;
    }

    /* Responsive about us */

     /* Responsive footer */

     .menu_footer .block-2_menu_footer{
        margin-left: 13.188rem;
    }

    .menu_footer .block-3_menu_footer{
        margin-left: 17.438rem; 
    }

    .container_footer .menu_footer{
        max-width: 58.188rem;
    }

    /* Responsive footer */

    /* Responsive dot */

    .switch-button{
        top: 65%;
    }

    /* Responsive dot */


}

/* 1129px */

@media (max-width: 70.5625em){

    /* Responsive header */
    .menu_header li{
        margin-left: 3.5rem;
    }

    .container_header .login-language_header{
        margin-left: 3.5rem;
    }

    .login-language_header .language{
        padding-left: 0.5rem;
    }

    header .container_header{
        max-width: 58.997rem;
    }

    /* Responsive header */
}

/* 1023px */

@media (max-width: 63.9375em){

    /* Responsive header */

    .menu_header li{
        margin-left: 3rem;
    }

    .container_header .login-language_header{
        margin-left: 3rem;
    }

    .login-language_header .language{
        padding-left: 0.2rem;
    }

    header .container_header{
        max-width: 55.697rem;
    }

    /* Responsive header */

    /* Responsive footer */

    .menu_footer .block-2_menu_footer{
        margin-left: 11.188rem;
    }

    .menu_footer .block-3_menu_footer{
        margin-left: 15.438rem; 
    }

    .container_footer .menu_footer{
        max-width: 54.188rem;
    }

    /* Responsive footer */
}



